node_modules/
.clasp.json
clasp.json
*.log
.agent/workflows/*
.vscode/

# Python
__pycache__/
*.pyc
venv/
.env
.pytest_cache

GCP/terraform/.terraform/*
GCP/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
