node_modules/
.clasp.json
clasp.json
*.log

.vscode/

# Python
__pycache__/
*.pyc
venv/
.venv/
.ruff_cache/
.env
.pytest_cache

GCP/terraform/.terraform/*
GCP/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
.DS_Store

