node_modules/
.clasp.json
clasp.json
*.log
.agent/workflows/*
.vscode/

# Python
__pycache__/
*.pyc
venv/
.venv/
.ruff_cache/
.env
.pytest_cache

.agent/*
GCP/terraform/.terraform/*
GCP/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
.DS_Store

